<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-base">
    Lorem ipsum dolor,
    <span highlight>sit amet consectetur adipisicing elit.</span>
    Itaque molestiae quasi autem, modi, aut nisi, est molestias doloremque
    nostrum consequatur voluptatem veniam vel suscipit ea animi praesentium
    tempora sit at!
  </p>
  <p class="text-base">
    Número de clientes

    <app-counter
      [duration]="duration()"
      [message]="message()"
      *ngIf="duration() > 0"
    />
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>
